rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function authenticated() {
      return request.auth.uid != null;
    }

    match /rooms/{document=**} {
      function isOwner() {
        return request.auth.uid == resource.data.owner
      }
      function hasVacantPlayerSlot() {
        return resource.data.players.size() < 2
      }
      function isPlayer() {
        return request.auth.uid in resource.data.players;
      }

      allow read, create: if
        authenticated();
      allow write: if
        isOwner() ||
        hasVacantPlayerSlot() ||
        isPlayer()
    }

    match /rulesets/{document=**} {
      allow read: if authenticated();
    }
  }
}
