@import '~node_modules/normalize.css/normalize.css'

colour-secondary-1 = #373E45
colour-secondary-2 = #8B9196
colour-secondary-3 = #DFE3E6
colour-primary = #FFFFFF
colour-secondary = colour-secondary-1
colour-accent = #DB143D
colour-white = #fff
colour-black = #000

typography-header-2()
	font-family 'Jost'
	font-style normal
	font-weight 400
	font-size 24px
	line-height 35px

typography-label()
	font-family 'Jost'
	font-style normal
	font-weight 300
	font-size 14px
	line-height 1
	letter-spacing .2px

	color colour-secondary

typography-input()
	font-family 'Montserrat'
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 1
	letter-spacing: -0.25px;

	color colour-secondary

@import url('https://fonts.googleapis.com/css2?family=Jost&family=Montserrat&display=swap')
